@import 'reset.css';
@import 'character.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@font-face {
  font-family: rick-n-morty;
  src: url(./fonts/rick-n-morty.ttf);
}

#root {
  display: flex;
  justify-content: center;
}

.section {
  max-width: 1440px;

  &__wrapper {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    padding-top: 86px;
    margin: 0 auto 16px;
    display: flex;
    justify-content: center;
  }

  &__login {
    //padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title,
    &__titleStr,
    &__titleGlow
    {
      position: relative;
      font-family: 'rick-n-morty',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #07aac0;
      //text-shadow: 0 1px 1px #033e47;
      margin-bottom: 15px;
      cursor: default ;
    }
    &__titleStr {
      position: absolute;
      text-shadow: 0 0 2px #033e47;
    }
    &__titleGlow {
      position: absolute;
      text-shadow: 0 0 4px #67fa4c;
    }
  }

  &__logout {
    align-self: flex-end;
    font-family: 'rick-n-morty',sans-serif;
    color: #07aac0;
    text-shadow: 0 1px 1px #033e47;
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    background-color: inherit;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    &:hover,
    &:active{
      transform: scale(1.13);
      //transform-origin: top left;
      transition: 250ms ease-in-out;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3), 0 5px 7px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.24);
      border-radius: 6px;
    }
  }

  &__search {
    grid-column: 1 / 5;
    width: 100%;
    margin-bottom: 23px;
    font-family: 'Roboto', sans-serif;

    color: rgba(0, 0, 0, 0.5);

    &__input {
      padding: 16px 0;
      text-indent: 48px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      width: 100%;
      background-image: url('../images/search.png');
      background-position: 19px center;
      background-repeat: no-repeat;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 8px;

      &::placeholder{
        //padding-left: 48px;

      }
    }
  }

  &__cards {
    margin-bottom: 30px;

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 25px;
  }

  &__card {
    max-width: 240px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;

    &:hover,
    &:active{
      transform: scale(1.03);
      //transform-origin: top left;
      transition: 250ms ease-in-out;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3), 0 5px 7px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.24);
      border-radius: 8px;
    }

    &__imageBox {
      display: flex;
      margin-bottom: 14px;
    }

    &__image {
      max-width: 240px;
      width: 100%;
      max-height: 168px;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }

    &__title {
      //margin: 0 0 15px 16px;
      margin-left: 16px;
      margin-bottom: 1px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
      mix-blend-mode: normal;
    }

    &__text {
      //margin: 0 0 15px 16px;
      margin-left: 16px;
      margin-bottom: 14px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      //line-height: 21px;
      letter-spacing: 0.25px;
      color: rgba(0, 0, 0, 0.6);
      mix-blend-mode: normal;
    }
  }

  &__pagination {
    margin: 0 auto 100px;
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 2px;

    & li {
      max-width: 30px;
      width: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      padding: 3px;
      margin: 3px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.6);
      mix-blend-mode: normal;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);

      //border: 1px rgba(0, 0, 0, 0.24) solid;
      border-radius: 3px;
      &:hover{
        transform: scale(1.03);
        transition: 100ms ease-in-out;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3), 0 5px 7px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.24);
        border-radius: 2px;
      }
      &:active{

        transform: scale(1.05);
        transition: 100ms ease-in-out;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4), 0 5px 7px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.24);
        border-radius: 2px;
      }

      & a{
        padding: 5px;
      }

      &.active {
        //transform: scale(1.01);
        transition: 250ms ease-in-out;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3), 0 5px 7px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.24);
        border-radius: 2px;      }
      &.previous,
      &.next {
        max-width: 88px;
      }
      &.next {
        //padding: 0 19px;
        max-width: 88px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .section {
    max-width: 960px;

    &__search {
      grid-column: 1 / 4;
    }

    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }


  }

  @media screen and (max-width: 800px) {
    .section {
      max-width: 756px;

      &__search {
        grid-column: 1 / 3;
        &__input {
          max-width: 530px;
        }
      }

      &__logo {
        max-width: 530px;

        &__image {
          max-width: 530px;
        }
      }

      &__cards {
        margin-bottom: 20px;
        padding: 0 15px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 10px;
      }
    }
  }

  @media screen and (max-width: 540px) {
    .section {
      max-width: 520px;

      &__wrapper {
        max-width: 390px;
      }

      &__pagination {
        margin: 0 auto 30px;
        justify-content: space-evenly;
        max-width: 390px;
        width: 100%;

        & li.break {
          display: none;
        }

      }

      &__search {
        grid-column: 1 / 2;
        margin-bottom: 0;
        &__input {
          max-width: 390px;
        }
      }

      &__logo {
        &__image {
          max-width: 370px;
        }
      }

      &__card {
        max-width: 390px;

        &__image {
          max-width: 390px;
        }
      }

      &__cards {
        margin-bottom: 20px;
        padding: 0 15px;
        max-width: 390px ;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 15px;
      }
    }



  }


}
